$blue: #4361ee;
$main-color: #300003;
$secondary-color: #fff;
$main-text-color: #fff;
$secondary-text-color: #b0c7d6;
$send-message-form: #F5F5F5;

.root {
  background-color: #210002;
  width: 10px;
  height: 100px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  &:hover {
    border: 1px solid $blue;
    box-shadow: 0 0 0 1px $blue;

    .editButtons {
      opacity: 1;
    }
  }
}

.message {
    margin: 15px 0;
}

.username {
  font-size: 11px;
  color: $main-text-color;
  opacity: 0.9;
    margin-bottom: 6px;
}
.content {
  margin: 0;
  background: $main-color;
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    overflow: visible;
    }
}


.image {
  width: 100%;
  height: 300px;
  object-fit: cover;

  &Full {
    min-height: 300px;
    height: 100%;
  }
}

.wrapper {
  padding: 10px 20px 20px;
}

.content {
  margin: 30px 0 50px;

  p {
    font-size: 22px;
    line-height: 36px;
  }
}

.indention {
  padding-left: 40px;
}

.title {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  font-size: 13px;
  margin: 0;
  pacity: 0.6;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: $blue;
    }
  }

  &Full {
    font-size: 42px;
    font-weight: 900;
  }
}

.postDetails {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;

  li {
    display: inline-flex;
    align-items: center;
    font-size: 9px;
    margin-right: 20px;
    opacity: 0.5;

    svg {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.skeleton {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 15px;
  }
}

.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}